#nav {
	background: rgba(0,0,0,0.5);
	height: 50px;
	display: flex;
	font-size: 14px;
	justify-content: center;
}

.navc {
	justify-content: space-around;
	align-self: center;
	max-width: 500px;
}

/* uncss:ignore */
.navc .sel {
	color: #DB8B1D;
}

/* uncss:ignore */
#nav>ul>li>.l {
	margin-block-start: 0em;
    margin-block-end: 0.3em;
	font-size: 8px;
}