.calib-btn {
    margin-top: 40px;
}

#calib-c, #calib-x {
    position: fixed;
    left: 100%;
    transition: 0.4s left ease-in-out;
    top: 0;
}

#calib-c {
    background: url(bg-__VERSION__.jpg), #000;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

/* uncss:ignore */
#calib-c>div {
    width: 100vw;
    height: 100vh;
}

/* uncss:ignore */
#calib-c>div>h2 {
    margin: 80px 30px 10px 30px;
}

/* uncss:ignore */
#calib-c>div>p {
    font-size: 13px;
    margin: 5px 30px 10px 30px;
}

#calib-x {
    margin: 10px;
    width: 90px;
    transition-delay: 0s;
    transition-duration: 0.4s;
}

/* uncss:ignore */
.cal-conc {
    /* margin: auto; */
    margin: 20px auto;
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
}