/* uncss:ignore */
:root {
	--bord: 1px solid rgba(0, 0, 0, 0.034);
}

/* uncss:ignore */
#pas {
	border-radius: 7px;
    justify-content: center;
	border: rgba(0,0,0,0);
    background: rgba(118, 118, 128, 0.24);
}

/* uncss:ignore */
#pas>div {
	/* width: 10px; */
	padding: 2px 0 2px;
	flex-grow: 1;
	text-align: center;
	font-size: 14px;
	border: 1px rgba(0,0,0,0);
}

/* uncss:ignore */
#pas>div.sel {
	background-color: rgb(103, 103, 105, .64);
	border-radius: 7px;
	border: 1px rgba(0,0,0,0.14) solid
}

/* uncss:ignore */
#pas>div::after {
	height: 13px;
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid rgba(142, 142, 147, 0.45);
    border-radius: 0.5px;
    transform: translate(-1px, -110%);
}

/* uncss:ignore */
#pas>div:first-child::after {
	border-left: none;
}