:root {
	/* --wid: calc((100vw - 30px) / 3);  */
	/* Always 3 columns */
	--wid: min(calc(33.3vw - 20px),110px, 110px);
}

.tile {
	background: rgba(0,0,0,.3);
	border-radius: 12px;
	display: flex;
	/* justify-content: space-around; */
}

/* uncss:ignore */
.tile.sq {
	width: var(--wid);
	height: var(--wid);
	/* margin: 20px; */
	margin: 5px 0px 5px 0px;
	position: relative;
}

/* uncss:ignore */
.tile.sq>span {
	width: calc(var(--wid) - 1px);
	max-height: 90px;
	top: 10px;
	position: absolute;
	right: 0px;
	border-right: 1px dashed white;
	border-right-style: groove;
}

/* uncss:ignore */
.tile.sq p {
	font-size: 12px;
	margin: auto 21px 10px 9px;
	font-weight: 500;
}