.dt {
	/* margin: 0 10px 0 -10px; */
	justify-content: space-between;
}

/* uncss:ignore */
.pt>.sq {
	height: 50px;
	width: auto;
	min-width: 150px;
}

/* uncss:ignore */
.pt>.sq>span {
	display: none;
}

#hlc > h2 {
	margin-block-end: 0.1em;
	margin-block-start: 0.5em;
	font-size: 16px;
	padding-left: 5px;
}