#card {
    position: fixed;
    top: 100%;
	background: rgb(9 9 9 / 68%);
    text-align: left;
    justify-content: center;
    font-size: 12px;
}

#card.an {
    transition: 0.2s top ease-in-out;
}

.in {
    text-align: left;
}

.ca-con {
    width: 80%;
    max-width: 300px;
    padding-top: 50px;
}

/* uncss:ignore */
.cR {
    margin-bottom: 50px;
}